<div>GET to http://test.z-price.com:8080/api/Characteristic/13343/Characteristics</div>


<h4>Headers</h4>
<div>
        <div>Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjE1OTk3IiwiUmlnaHRzIjoiMTYyNTAxNzQiLCJHcm91cCI6IjEiLCJSb2xlcyI6IjIiLCJuYmYiOjE2MDU3OTYwMDgsImV4cCI6MTYwNjQwMDgwOCwiaWF0IjoxNjA1Nzk2MDA4fQ.s3yZjEuefRLzBPC_xRvzsQXzoZ9YllHaGNpsjnprPtk</div>
        <div>Accept: application/json, text/plain, */*</div>
        <div>Content-Type: application/json; charset=UTF-8</div>
</div>



<h4>Curl</h4>
<div>
curl -v -X GET &#39;http://test.z-price.com:8080/api/Characteristic/13343/Characteristics&#39; -H &#39;Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjE1OTk3IiwiUmlnaHRzIjoiMTYyNTAxNzQiLCJHcm91cCI6IjEiLCJSb2xlcyI6IjIiLCJuYmYiOjE2MDU3OTYwMDgsImV4cCI6MTYwNjQwMDgwOCwiaWF0IjoxNjA1Nzk2MDA4fQ.s3yZjEuefRLzBPC_xRvzsQXzoZ9YllHaGNpsjnprPtk&#39; -H &#39;Accept: application/json, text/plain, */*&#39; -H &#39;Content-Type: application/json; charset=UTF-8&#39;
</div>
