<div>Status code 200 </div>


<h4>Body</h4>
<div>
    <pre class="preformated-text">
    {
    &quot;access_token&quot;: &quot;eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjQyNzgiLCJSaWdodHMiOiIxNjc3NzIxNCIsIkdyb3VwIjoiMSIsIlJvbGVzIjoiMiIsIm5iZiI6MTYwODEyNzczNCwiZXhwIjoxNjA4NzMyNTM0LCJpYXQiOjE2MDgxMjc3MzR9.Pa_Tc4VWe5HQmIPJAEKrGoez5BwY4w6OZw1Yz_RXm4Y&quot;
}
    </pre>
</div>

<h4>Headers</h4>
<div>
        <div>Server: Kestrel</div>
        <div>Content-Length: 256</div>
        <div>Date: Wed, 16 Dec 2020 14:08:54 GMT</div>
        <div>Content-Type: application/json; charset=utf-8</div>
        <div>X-Powered-By: ASP.NET</div>
</div>


